@use '../../styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: colors.$primary-color;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 42px;
  box-sizing: border-box;
}

.group {
  display: flex;
  gap: 12px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
