$primary-color: #06080c;

$item-primary: #0b0e12;
$item-secondary: #101318;
$error-bg: #0f1318;

$text: #ffffff;
$text1: #fafafa;
$text-primary: #b4b5b6;
$text-secondary: #787878;
$text-other: #f2f6f6;

$btn-primary: #eb0237;
$btn-secondary: #a01131;
$btn-other: #701328;

$card-primary: #43ad28;
$card-secondary: #eb0237;
$card-other: #eb6402;
